.button {
	width: 150px;
	height: 30px;

	font-size: 12px;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;

	border: none;
	border-radius: 5px;
	background-color: $main-color;

	transition: all .2s linear;

	&_main {
		margin-top: 67px;
		width: 300px;
		height: 50px;

		font-size: 16px;
	}

	&_submit {
		width: 100%;
		height: 55px;

		font-size: 16px;
	}

	&_mini {
		width: 131px;
		height: 40px;

		font-size: 14px;
	}

	&:hover {
		box-shadow: 0 0 10px rgba($color: #000000, $alpha: .4);
	}
}

@media (max-width: 767px) {
	.button {
		width: 180px;
		height: 40px;

		font-size: 16px;

		&_main {
			margin-top: 30px;
			width: 240px;
			height: 50px;
		}

		&_submit {
			width: 100%;
			height: 55px;

			font-size: 16px;
		}

		&_mini {
			width: 131px;
			height: 40px;

			font-size: 14px;
		}
	}
}

@media (max-width: 575px) {
	.button {
		&_mini {
			width: 120px;
		}
	}
}
