.carousel {
	padding: 81px 0 82px 0;

	&__inner {
		position: relative;

		width: 750px;
		margin: 0 auto;

		.slick-track {
			display: flex;
			align-items: center;
		}

		.slick-dots {
			margin: 0;
			margin-top: 20px;
			padding: 0;

			text-align: center;
			list-style: none;

			.slick-active {
				button {
					background-color: $main-color;
					opacity: 1;
				}
			}

			li {
				display: inline-block;
				margin: 0 5px;

				button {
					vertical-align: middle;
					padding: 0;
					width: 15px;
					height: 15px;

					font-size: 0;

					background-color: $title-color;
					opacity: .25;
					border: none;
					border-radius: 50%;
				}
			}
		}
	}

	.slick-prev, .slick-next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: -66px;

		background-color: transparent;
		border: none;

		img {
			width: 31px;
			height: 50px;
		}
	}

	.slick-next {
		left: auto;
		right: -66px;
	}
}

@media (max-width: 991px) {
	.carousel {
		&__inner {
			width: 100%;

			.slick-slide {
				img {
					width: 100%;
				}
			}
		}
	}
}
