.catalog {
	padding-bottom: 100px;

	&__tabs {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 70px;
		margin-bottom: 0;
		padding-left: 0;

		list-style: none;
	}

	&__tab {
		margin: 0 5px;
		width: 220px;
		height: 50px;

		font-size: 18px;
		line-height: 48px;
		font-weight: 500;
		color: #6b6b6b;
		text-transform: uppercase;
		text-align: center;

		border: 2px solid #d0d0d0;

		transition: all .2s linear;
		transform: skewX(-25deg);

		cursor: pointer;

		&:hover {
			box-shadow: 3px 3px 20px #d0d0d0;
		}

		div {
			transform: skewX(25deg);
		}

		&_active {
			color: #fff;

			background-color: $main-color;
			border: none;
		}
	}

	&__content {
		display: none;
		justify-content: flex-start;
		flex-wrap: wrap;
		margin-top: 60px;

		&_active {
			display: flex;
		}
	}

	&-item {
		margin-bottom: 20px;
		padding: 20px;
		width: 300px;
		min-height: 440px;

		border: 2px solid #e8e8e8;

		overflow: hidden;

		&:not(:nth-child(3n)) {
			margin-right: 17.5px;
		}

		&__img {
			display: block;
			margin: 0 auto;
			max-width: 100%;
			height: 200px;
		}

		&__subtitle {
			margin-top: 20px;

			font-size: 16px;
			font-weight: 700;
			line-height: 19px;
			color: $title-color;
			text-align: center;
		}

		&__descr {
			margin-top: 16px;

			font-size: 14px;
			font-weight: 300;
			color: $title-color;
			text-align: center;
		}

		&__link {
			display: block;
			margin-top: 10px;

			font-size: 14px;
			line-height: 1;
			font-weight: 500;
			color: $main-color;
			text-align: center;
			text-transform: uppercase;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}

		hr {
			margin: 17px 0;

			border-bottom: none;
			background-color: #e8e8e8;
		}

		&__footer {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__old-price {
			font-size: 14px;
			line-height: 1;
			font-weight: 300;
			color: #555;
			text-decoration: line-through;
		}

		&__price {
			font-size: 20px;
			line-height: 1;
			font-weight: 700;
			color: #050505;
		}

		&__wrapper {
			display: flex;
			width: calc(200% + 40px);
		}

		&__content {
			margin-right: 0;
			width: 50%;

			transition: all .2s ease-in-out;
			transform: translateX(-100%);

			&_active {
				margin-right: 20px;

				transform: translateX(0%);
			}
		}

		&__inner {
			position: relative;

			margin-left: 20px;
			margin-bottom: 0;
			padding-left: 15px;
			padding-right: 20px;
			width: 50%;


			transition: all .2s ease-in-out;
			transform: translateX(0%);

			&_active {
				margin-left: 0;

				transform: translateX(-100%);
			}
		}

		&__list {
			padding: 0;
			margin: 0;

			list-style: none;

			li {
				position: relative;

				margin-bottom: 20px;

				font-size: 14px;
				line-height: 1.5;
				font-weight: 300;
				color: #555;

				&:before {
					content: '';

					position: absolute;
					top: 7px;
					left: -10px;

					width: 5px;
					height: 5px;

					background-color: $main-color;
				}
			}
		}

		&__back {
			position: absolute;
			bottom: 0;
			left: 50%;

			display: block;

			font-size: 14px;
			line-height: 1;
			font-weight: 500;
			color: $main-color;
			text-decoration: underline;
			text-transform: uppercase;

			transform: translateX(calc(-50% - 19px));

			&:hover {
				text-decoration: none;
			}
		}
	}
}

@media (max-width: 991px) {
	.catalog {

		&__content {
			justify-content: center;
		}

		&-item {
			&:not(:nth-child(3n)) {
				margin-right: 0;
			}

			&:not(:nth-child(2n)) {
				margin-right: 17.5px;
			}

		}
	}
}

@media (max-width: 767px) {
	.catalog {
		&__tabs {
			flex-direction: column;
			margin-top: 35px;
		}

		&__tab {
			margin: 0;
			width: 100%;

			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}

		&-item {
			margin-right: 8.75px;
			margin-left: 8.75px;

			&:not(:nth-child(3n)) {
				margin-right: 8.75px;
			}

			&:not(:nth-child(2n)) {
				margin-right: 8.75px;
			}

		}
	}
}

@media (max-width: 575px) {
	.catalog {
		&-item {
			margin-right: 0;
			margin-left: 0;

			&:not(:nth-child(3n)) {
				margin-right: 0;
			}

			&:not(:nth-child(2n)) {
				margin-right: 0;
			}
		}
	}
}
