.consultation {
	padding: 100px 0 92px 0;
	min-height: 680px;

	background: url('../../img/consultation.jpg') center center/cover no-repeat;

	&__header {
		margin-bottom: 8px;

		font-size: 36px;
		line-height: 1.5;
		font-weight: 700;
		color: #fff;
		text-transform: uppercase;
		text-align: left;
	}

	&__descr {
		font-size: 20px;
		line-height: 1.5;
		font-weight: 500;
		color: #fff;
	}
}
