.promo {
	padding: 21px 0 93px 0;
	min-height: 650px;

	background: url('../img/main.jpg') center (center/cover) no-repeat;

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		margin-top: 90px;
	}

	&__header {
		font-size: 42px;
		line-height: 1;
		font-weight: 700;
		color: #fff;
		text-transform: uppercase;
	}

	&__subheader {
		margin-top: 17px;

		font-size: 24px;
		line-height: 1;
		font-weight: 500;
		color: #fff;
		text-transform: uppercase;
	}

	&__icons {
		display: flex;
		justify-content: space-between;
		margin-top: 65px;
		width: 425px;
	}

	&__icon {
		width: 108px;

		font-size: 14px;
		font-weight: 500;
		color: #fff;
		text-align: center;

		img {
			display: block;
			margin: 0 auto;
			margin-bottom: 20px;
		}
	}

	&__link {
		margin-top: 18px;

		font-size: 16px;
		font-weight: 500;
		color: #fff;

		a {
			color: #fff;
			text-transform: uppercase;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}
}

@media (max-width: 991px) {
	.promo {
		background-position: -300px center;
	}

}

@media (max-width: 767px) {
	.promo {
		&__wrapper {
			align-items: center;
		}

		&__header, &__subheader {
			text-align: center;
		}
	}
}

@media (max-width: 565px) {
	.promo {
		padding-bottom: 50px;

		background-position: -400px center;

		&__wrapper {
			margin-top: 30px;
		}

		&__header {
			font-size: 36px;
			line-height: 1.2;
		}

		&__subheader {
			margin-top: 0;

			font-size: 21px;
			line-height: 1.2;
		}

		&__icons {
			flex-direction: column;
			margin-top: 20px;
			width: auto;
		}

		&__icon {
			&:not(:last-child) {
				padding-bottom: 10px;
				border-bottom: 2px solid #fff;
			}

			&:not(:first-child) {
				margin-top: 10px;
			}

			img {
				margin-bottom: 10px;
			}
		}
	}
}
