.title {
	margin-bottom: 0;

	font-size: 30px;
	font-weight: 700;
	line-height: 1;
	color: $title-color;
	text-align: center;
	text-transform: uppercase;

	&_left {
		margin-bottom: 8px;

		font-size: 36px;
		line-height: 1.5;
		color: #fff;
		text-align: left;
	}
}

@media (max-width: 575px) {
	.title {
		&_left {
			font-size: 30px;
			text-align: center;
		}
	}
}
